<h1>Doctors#show</h1>

<section class="card">
  <p> Appointment by <%= @doctor.first_name %></p>
  <p> To <%= @patient.first_name %></p>
  <div class="card">   
    <p><%= @appointment.description %></p>    
  </div> 
</section>