<h1>Appointments#show</h1>

<section class="card">
  <p> Appointment # <%= @appointment.id %> by <%= @doctor.first_name %></p>
  <div class="card">   
    <p><%= @post.description %></p>    
  </div> 
</section>